{% extends 'base.html.twig' %}
{% block title %}Any Json to Chart using Machine Learning{% endblock %}
{% block stylesheets %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        .header-title{
            margin: 3rem 0 2rem;
        }
        h1{
            font-size: 31px;
            line-height: 40px;
            font-weight: 600;
            color:#4c5357;
        }
        h2{
            color: #5e8396;
            font-size: 21px;
            line-height: 32px;
            font-weight: 400;
        }
        h3{
            color: #435f6d;
            font-size: 18px;
            line-height: 32px;
            font-weight: 400;
        }
        @media screen and (max-width:480px){
            h1{
                font-size: 26px;
            }
            h2{
                font-size: 20px;
            }
        }
        .centered{
            justify-content: center;align-items: center;display: flex;
        }
        .centered>div{
            width: 100%;
        }
    </style>
{% endblock %}
{% block body %}

    <div class="container">
        <div class="col-md-10 mx-auto text-center">
            <div class="header-title">
                <h1 class="wv-heading--title">
                    Any Json to Chart
                </h1>
                <h2 class="wv-heading--subtitle">
                    using Machine Learning
                </h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">provides the conversion of any json-format into a visualized chart</li>
                    <li class="list-group-item">demonstrating the basic usage of machine learning in PHP</li>
                    <li class="list-group-item">useful tool to build chart with prognose</li>
                </ul>
                <h3>
                    All You need is:
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="myform form ">
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_start(form) }}
                                <div class="form-group">
                                    <small class="form-text text-muted">Enter Url Source with json format responce</small>
                                    {{ form_widget(form.source, {'attr':
                                        {
                                            'class': 'form-control',
                                            'placeholder': 'Url Source'
                                        }})
                                    }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <small class="form-text text-muted">Enter the name of generated chart</small>
                                    {{ form_widget(form.chart_title, {'attr':
                                        {
                                            'class': 'form-control',
                                            'placeholder': 'Chart title'
                                        }})
                                    }}
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <small class="form-text text-muted">Enter the name of X-axis in generated chart</small>
                                    {{ form_widget(form.x_name, {'attr':
                                        {
                                            'class': 'form-control',
                                            'placeholder': 'name of X-axis'
                                        }})
                                    }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <small class="form-text text-muted">Enter the name of Y-axis in generated chart</small>
                                    {{ form_widget(form.y_name, {'attr':
                                        {
                                            'class': 'form-control',
                                            'placeholder': 'name of Y-axis'
                                        }})
                                    }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <small class="form-text text-muted">Enter the path to data of X-axis in your Json Source<br>please use <a href="https://github.com/FlowCommunications/JSONPath" target="_blank"><s>the force</s> docs</a> to realize how to build the path to your data</small>
                                    {{ form_widget(form.x_path, {'attr':
                                        {
                                            'class': 'form-control',
                                            'placeholder': 'json path for x-axis'
                                        }})
                                    }}
                                </div>
                            </div>
                            <div class="col-md-6 centered">
                                <div class="form-group">
                                    <small class="form-text text-muted">Enter the path to data of Y-axis in your Json Source</small>
                                    {{ form_widget(form.y_path, {'attr':
                                        {
                                            'class': 'form-control',
                                            'placeholder': 'json path for y-axis'
                                        }})
                                    }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <small class="form-text text-muted">Enter the number of predicted points in generated chart</small>
                                    {{ form_widget(form.predicted_count, {'attr':
                                        {
                                            'class': 'form-control',
                                            'min': '1',
                                            'max': '200',
                                            'placeholder': 'name of Y-axis'
                                        }})
                                    }}
                                </div>
                            </div>
                            <div class="col-md-6 centered">
                                {{ form_widget(form.save, {'attr':
                                    {
                                        'class': 'btn btn-primary',
                                        'label': 'Generate'
                                    }})
                                }}
                            </div>
                        </div>

                        {#todo: implement limits#}

                        {{ form_end(form) }}
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5"><a href="#" id="example_1">Place Example 1</a></div>
            <div class="col-md-5"><a href="#" id="example_2">Place Example 2</a></div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <p>
                    There are some api POST methods to get data:
                    POST Headers required: import_data[source, chart_title, x_name, y_name, x_path, y_path, predicted_count]
                </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">POST http://127.0.0.1:8000/api/chart/get_points</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $("body").on("click","#example_1",function(e){
            e.preventDefault();
            $("#import_data_source").val('https://canvasjs.com/data/gallery/jsp/total-biomass-energy-consumption.json');
            $("#import_data_chart_title").val('Total biomass energy consumption');
            $("#import_data_x_name").val('Time period');
            $("#import_data_y_name").val('Consumption');
            $("#import_data_x_path").val('$..timestamp');
            $("#import_data_y_path").val('$..value');
            $("#import_data_predicted_count").val('20');
        });
        $("body").on("click","#example_2",function(e){
            e.preventDefault();
            $("#import_data_source").val('https://eth.nanopool.org/api/v1/price_history/0/768');
            $("#import_data_chart_title").val('Ethereum price ');
            $("#import_data_x_name").val('Time period');
            $("#import_data_y_name").val('Price value');
            $("#import_data_x_path").val('$.data.*.time');
            $("#import_data_y_path").val('$.data.*.price');
            $("#import_data_predicted_count").val('20');
        });
    </script>
{% endblock %}